.parent {
  background-color: red;
  height: 500px;
  width: 500px;
  overflow: scroll;
}

.child {
  background-color: green;
  height: 800px;
  width: 800px;
}

.menu{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 100px;
}
.menu div{
  background-color: black;
  width: 100%;
  text-align: center;
  padding: 5px 0;
}
.menu a{
  text-decoration: none;
  color: white;
}